{% extends 'catalog/base.html' %}
{% load static %}
{% load catalog_tags %}

{% block content %}

    <article class="blog-post">
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" class="btn btn-success" value="{% if blog %}Сохранить{% else %}Создать{% endif %}">
        </form>

      <div class="card-footer">
        <a href="{% url 'blog_list' %}" class="btn btn-sm btn-outline-secondary"> Назад </a>
      </div>

    </article>

{% endblock %}