{% extends 'catalog/base.html' %}
{% load static %}

{% block content %}
  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <a href="{% url 'catalog:product_create' %}" class="btn btn-sm btn-outline-secondary">Создать продукт</a>
      {% for object in product_list %}
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col m-md-3">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
              <title>{{object.name}}</title>
              <rect width="100%" height="100%" fill="#4682B4"/>
              {% if version.is_active %}
                  <span class="active">Активная версия</span>
              {% endif %}
              <text text-anchor="middle" dominant-baseline="middle" x="50%" y="50%" fill="#eceeef" dy=".3em">{{object.name}}</text>
            </svg>
            <div class="card-body">
              <p class="card-text">{{object.about|linebreaks|truncatewords:10}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{% url 'catalog:product_item' object.pk %}" class="btn btn-sm btn-outline-secondary">Просмотр</a>
                  <a href="{% url 'catalog:product_update' object.pk %}" class="btn btn-sm btn-outline-secondary">Изменить</a>
                  <a href="{% url 'catalog:product_delete' object.pk %}" class="btn btn-sm btn-outline-secondary">Удалить</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}