{% extends 'catalog/base.html' %}
{% load static %}
{% load catalog_tags %}

{% block content %}

    <article class="blog-post">
        <h2 class="display-5 link-body-emphasis mb-1">{{ product.name }}</h2>
        <p class="blog-post-meta"> <a href="#">{{ category.name }}</a></p>

        <p>{{ product.about|linebreaks }}</p>
        <hr>

        <h2>{{ product.price_lot }} руб.</h2>
        {% if product.image %}
        <img src= "{{ product.image.url }}">
        {% endif %}


    </article>

{% endblock %}
